*,
::after
,::before
{
padding: 0;
margin: 0;
text-decoration: none;
box-sizing: border-box;
list-style: none;
}
@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/woff/IRANSansX-Bold.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/woff/IRANSansX-Regular.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-Regular.woff2') format('woff2');	
}
@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/woff/IRANSansX-Medium.woff') format('woff'),   
	url('fonts/woff2/IRANSansX-Medium.woff2') format('woff2');		 
}

  
html{
	font-size: 62.5%;
}
body{
	font-family:"IRANSansX" ;
}
:root{
    --color-primary: #cc312d;
    --color-secondary:#2F0D0C;
    --color-primary-text:#130505;
    --color-text:#606060;
    --color-secondary-text:#494A48;
    --color-border: #EBEBEB;
    --color-background: #f7f7f7;
    --color-white: #fff;
    --color-processing: rgba(68, 140, 249, 0.1);
    --color-delivered: rgba(27, 172, 68, 0.1);
    --color-reject: rgba(23, 23, 23, 0.1);
    --color-canceled: rgba(229, 48, 63, 0.1);
    --color-price: linear-gradient(0deg, #1a1814, #1a1814),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.background-Processing {
    background-color: rgba(68, 140, 249, 0.1);
  }
  .background-delivered {
    background-color: rgba(27, 172, 68, 0.1);
  }
  .background-reject {
    background-color: rgba(23, 23, 23, 0.1);
  }
  .background-canceled {
    background-color: rgba(229, 48, 63, 0.1);
  }

.main__layout__container{
    display: grid;
    grid-template-columns: minmax(0, 35rem);
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem;
}

/* card panel */
aside.card__panel{
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
   background-color: var(--color-background);
   border-radius: 2rem;
   padding: 2rem;
   top: 3rem;
}
.card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
  border-bottom: 0.15rem solid #e6e6e6;
}
.user__info{
display: flex;
align-items: center;
gap: 1.3rem;
}
.user__icon {
    width: 5.6rem;
    height: 5.6rem;
    border: 1px solid var(--color-white);
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 1.2rem;
  }
  .user__name {
    color:var(--color-primary-text);
    font-size: 1.6rem;
}
  .user__phone{
    font-size: 1.4rem;
    color:#888888 ;
  }
  .user__text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
 /* sidebar content */
 .sidebar__content{
    width: 100%;
 }
 .sidebar__content ul li {
   display: flex;
align-items: center;
   color: var(--color-primary-text);
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    border-radius: 4.4rem;
 }
 .sidebar__content ul li span {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    gap: 1.5rem;
  }
 .sidebar__content .selected{
    margin-top: 2rem;
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-radius: 4.4rem;
 }
 
 .badge__messages{
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: auto;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 /* orders status */
.orders__status{
display: flex;
flex-direction: column;
gap: 2rem;
width: 100%;
margin: 0 auto;
overflow: visible;
}
.order__header{
    display: none;
  }
  .order__header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    padding-bottom: 1.5rem;     
    width: 100%;
    border-bottom: 0.2rem solid var(--color-border);   
  }
  .order__header > span img {
      position: absolute;
      right: 0;
  }

 .text__header{
    line-height: 2.4rem;
    color: #292929;
    font-size: 1.8rem;
    font-weight: bold;
 }

 /* orders section */
 .orders__section {
width: 100%;
 }
.orders__status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.order__status__lists {
    display: grid;
  grid-template-columns: repeat(4, 20rem);
  gap: 1.5rem;
  overflow: auto;
  overflow-x: scroll;
  padding-bottom: 2rem;
  }
  .status__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius:1.6rem;
    padding: 1.5rem;
    min-width: 180px;
    gap: 1.2rem;
    flex-shrink: 0;
    width: 100%;
    cursor: pointer;
  }
  .status__item:hover {
    border: 1.5px solid var(--color-primary);
    border-radius: 1.6rem;
  }
  .status__item img {
    width: 2.8rem;
    height:2.8rem;
    
  }
  .status-text {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 0.5rem;
    color: var(--color-secondary-text);
  }
  .status-name {
    font-weight: 500;
    line-height: 2.3rem;
    display: flex;
    font-size: 1.4rem;
    flex-direction: column;
    margin: 0.2rem 0.5rem;
  }
  .processing__status-icon{
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    border-radius: 0.8rem;
    color: var(--color-processing);
    background-color: rgba(68, 140, 249, 0.1);
    
  }
  .delivered__status-icon{
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    border-radius: 0.8rem;
    color: var(--color-processing);
    background-color: rgba(27, 172, 68, 0.1);
  }
  .reject__status-icon{
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    border-radius: 0.8rem;
    color: var(--color-processing);
    background-color: rgba(23, 23, 23, 0.1);
  }
  .canceled__status-icon{
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    border-radius: 0.8rem;
    color: var(--color-processing);
    background-color: rgba(229, 48, 63, 0.1);
  }
  .status__text__count{
    font-size: 2rem;
    font-weight: bold;
    color: #2B2D42;
  }
  .status__text__label{
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
/* content-container */
.order__body-basket {
    display: flex;
    flex-direction: column;
   margin-top: 1.6rem;
    gap: 2.4rem;
    border-radius: 1.6rem;
    border: 1px solid var(--color-border);
    padding: 2rem; 
}
    .order__body-items ul{
    margin-top: 1.6rem;
    gap: 1rem;
    padding:1.3rem;
    border-radius: 1.6rem;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    }
    .order__body-items ul li{
      background-color: var(--color-white);
      border-radius: 1.2rem;
      width: 4.8rem;
      height: 4.8rem;
      gap: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      
    }
    .order__body-items ul li img{
      width: 80%;
    }

  .orders__status__badge {
    background-color: rgba(68, 140, 249, 0.1);
    display: flex;
    padding: 0.6rem 1.2rem;
    align-items: center;
    justify-content:center;
    width: fit-content;
    font-weight: bold;
    border-radius: 4rem;
    gap: 1rem;
    font-size: 1.2rem;
    color: #2e7af1;
  }
 .total__price{
  display: flex;
  align-items: center;
  gap: 0.5rem;
 margin-right: auto;
 }
  .order__about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.5rem 1.5rem;
    padding: 1.5rem 0;
    gap: 2rem;
    
  }
  .info-item{
    display: flex;
    align-items: center;
  }
  .orders__price {
    font-size: 2rem;
    font-weight: bold;
    
  }
  .orders__info{
   font-size: 1.4rem;
   
  }
  .orders__code, .orders__date{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text);
  }
  .unit__class{
    font-size: 1rem;
    color: #1A1814;
  }
  .orders__code-number,
  .orders__date-number{
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 0.5rem;
  }
 
 .orders__details{
    display: flex;
    margin-right: auto;
    white-space: nowrap;
    justify-content: center;
    gap:0.8rem;
   align-items: center;
    font-size: 1.4rem;
    color: var(--color-primary);
    font-weight: 700;
 }
 .badge-perfume{
    display: none;
 }

 .badge-perfume{
  position: absolute;
  bottom: -0.8rem;
  left: -0.8rem;
  border: 1px solid var(--color-primary-text);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: var(--color-background);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  }
  

/* responsive */
@media screen and (min-width: 768px) {
    .main__layout__container {
        grid-template-columns: 320px 1fr; 
      }
      .order__status__lists  {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        overflow: unset;
        overflow-x: unset;
      }
      .order__header {
        display: none;
      }
      .order__body-items {
        flex-direction: row;
      }
     
    }
    @media screen and (min-width: 1024px) {
      .main__layout__container {
        grid-template-columns: 35fr 80fr;
      }
      .order__status__lists  {
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-around;
      }
      .orders__section , .order__status__lists {
        flex-direction: row;
        align-items: center;
      }
    }
    